.solid-backgroundDF{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;

    gap: 40px;
    height: 100vh;
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent overflow */
    background: linear-gradient(to left, rgb(231, 209, 182), #ffffff);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Optional: add shadow */
    padding-bottom: 3%;

}
.dfbody {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 95%;
    padding: 10px; /* Add padding for inner content */
    border-radius: 20px; /* Curved borders */
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Optional: add shadow */
    overflow-y: scroll ;
    overflow-x: scroll ;
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.005); /* Scrollbar color */
    margin: auto;

}
 .dfcontainer {

    padding: 30px;
    width: 90%;
    max-width: 900px;
 }
 
 .dfpicture_text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* margin-bottom: 40px; */
 }
 
 .dfpicture_container, .dfvideo_container {
    width: 45%;
    margin-bottom: 40px;
 }
 
 .dfmedia_preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 100%;
    border: 1px dashed #ccc;
    border-radius: 40px;
    margin-bottom: 5px;
 }
 
 .dfmedia_preview img, .media_preview video {
    max-height: 100%;
    max-width: 100%;
    border-radius: 40px;
 }
 
 .dfor_label {
    color: #e2ca3f;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
 }
 
 .dfbutton_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
 }
 
 .dfcustomButton {
    color: white !important;
    background-color: rgb(63, 183, 252) !important;
    border-color: rgb(63, 183, 252) !important;
    border-radius: 40px !important;
    padding: 10px 20px !important;
 }
 
 .dfcustomButton:hover {
    background-color: rgb(31, 31, 122) !important;
 }
 
 .dffileInput {
    display: none;
 }
 
 .dfuploadButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(63, 183, 252);
    color: white;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
 }
 
 .dfuploadButton:hover {
    background-color: rgb(31, 31, 122);
 }
 
.dfbody h2 {
    color: #005c86;
 }
 
.dfbody h1 {
    color: #005c86;
 }
 
.dfbody p {
    font-family: 'Roboto', sans-serif;
 }

 .loadingContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
 }